/*  This is a comment in CSS  */
			
			h1 {color: orange;
		font-size: 48px;
		width: 750%;
		text-decoration: underline;
		font-family: papyrus;
		border: 5px solid black;
		margin-left: 10px;
		}

		h2 {
			font-size: 36px;
			text-decoration: underline;
			font-family: garamond;
			text-shadow: 5px 5px 5px; black;
			
			.doc_header {
				width: 100%;
				/* line width, line type, color */
				border: 5px solid black;
				margin-bottom: 30px;
			}

			.doc_body {
				width: 100%
				color: crimson;
				border: 5px solid crimson;
			}
